.container {
  text-align: center;
  
}
.content{
  padding: 70px 35px;
  height: 800px;
  background-color: #650340;
}
.container h1 {
  color: #f6f7fc;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container p {
  color: #fffae9;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  padding: 0px 187px;
}

.contact {
  padding: 76px 48px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
  margin: -450px 30px 70px 30px;
}
.contact p {
  color: #333;
  font-feature-settings: "clig" off, "liga" off;
  display: flex;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 0;
  text-align: left;
}
.contact div p{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.column{
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .contact img{
    width: 300px;
    height: auto;
  }
.contact p {
    font-size: 14px;
    font-weight: 400;
  }
  .container p {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
  }
  .container p {
    padding: 0 50px;
  }
  .contact {gap:0px}
}

@media (max-width: 700px) {
  .contact img{
    width: 200px;
  }
  .content{
    height: 700px;
  }
  .contact {
    flex-direction: column;
    margin: -450px 30px 70px 30px;
  }
  .container h1 {
    font-size: 22px;
  }
  .container p {
    font-size: 14px;
    line-height: 22px;
    padding: 0 15px;
  }
  .container button {
    font-size: 16px;
    padding: 12px 18px;
  }
}
