.container h1{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
@media (max-width: 960px) {
    .container h1{
      font-size: 36px;
    }
  }
  
  .box {
    display: flex;
    justify-content: center;
   
}
.box div{
    width: 70px;
    height: 4px;
    background-color:#650340;
    flex-shrink: 0;}