.navbar {
  background-color: #650340;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 74px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.navbar div {
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #f6f7fc;
  width: 260px;
  height: 50px;
  background-color: transparent;
  padding: 11px 26px;
}
.navbar div input {
  background-color: transparent;
  border: none;
  opacity: 0.5;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
}
.navbar input:focus {
  border: none; /* Örnek bir mavi kenarlık ekledik */
  outline: none; /* Default mavi odak çerçevesini kaldırır */
  box-shadow: none; /* Örnek bir gölge ekledik */
  /* Diğer özel stil tanımları buraya eklenebilir */
}
.navbar ul {
  display: flex;
  color: #f6f7fc;
  font-size: 20px;
  font-weight: 300;
  gap: 20px;
}
.insideContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.mobileContainer {
  display: none;
}
.mobileContainer button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: x-large !important;
}
.menuIcon {
  color: white !important;
}
.menuItems {
  color: white;
  width: 100%;
  border-bottom-style: solid;
  border-color: white;
  padding: 16px;
  text-align: center;
}
@media (max-width: 900px) {
  .insideContainer {
    display: none;
  }
  .mobileContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .menuFrame {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border-top-style: solid;
    border-width: 2px;
    border-color: white;
    position: absolute;
    z-index: 10;
    top: 90px;
    background-color: #650340;
    color: #f6f7fc;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 25px 0 57px 57px;
  }
}
@media (max-width: 1370px) {
  .navbar {
    padding: 11px 30px;
  }
  .navbar ul {
    font-size: 14px;
  }
  .navbar img {
    width: 150px;
  }
  .navbar div {
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #f6f7fc;
    width: 160px;
    height: 40px;
    background-color: transparent;
    padding: 5px 12px;
  }
  .insideContainer div img {
    width: 20px;
  }
}
