.card {
  height: 430px;
  border-radius: 20px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  border: 3px solid #650340;
  padding: 0 10px;
  cursor: default;
}


.card:hover {
  background-color: #650340;
  color: #fff;
}

.content,
.content-hovered {
  text-align: center;
  transition: opacity 0.3s ease;
}

.content-hovered {
  opacity: 0;
}

.card:hover .content {
  opacity: 0;
}

.card:hover .content-hovered {
  opacity: 1;
}
.content-hovered p {
  color: #fff !important;
  text-align: center;
  font-size: 16px ;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
}
.content img {
  height: 80px;
}
.content h1 {
  color: #000;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

@media (max-width: 800px) {
  .content-hovered p {
    font-size: 12px !important;
  }
}

@media (max-width: 500px) {
  .card {
    height: 330px !important;
  }
}
