.team {
  padding: 55px 74px;
}
.box {
  display: flex;
}
.div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box div {
  width: 70px;
  height: 4px;
  background-color: #650340;
  flex-shrink: 0;
}
.team h1 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 66.02px; /* 137.542% */
  margin: 0;
}
.team p {
  color: #303030;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 125% */
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  position: relative;
  width: 100%;
}
.cards div h1 {
  width: 335px;
  z-index: 1;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  margin: 0;
  padding: 0 20px;
}
.cards div span {
  width: 335px;
  display: flex;
  z-index: 1;
  color: #cecece;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding: 30px 20px;
}
.cards div img {
  width: 335px;
  height: 435px;
  position: absolute;
  z-index: 0;
}

.row {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-top: 84px;
}

.item {
  width: 335px;
  height: 435px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
}
.item div {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.socialMedia {
  width: 24px;
  display: flex;
  flex-direction: row !important;
  padding: 33px 28px;
  gap: 10px;
  height: 24px;
  position: relative !important;
  z-index: 1;
  color: white;
}
.socialMedia ion-icon {
  width: 24px;
  height: 24px;
}
.card {
  width: 335px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width:1100px) {
  .card {
    width: 235px;
    height: 305px;
  }
  .cards div img {
    width: 235px;
    height: 305px;
  }
  .item {
    width: 235px;
    height: 305px;
  }
  .cards div h1 {
    width: 235px;
    font-size: 14px;
  }
  .cards div span {
    width: 235px;
    font-size: 10px;
  }
}
@media (max-width: 720px) {
  .team h1 {
    font-size: 32px;
    line-height: 30px;
    margin-top: 12px;
  }
  .team {
    padding: 74px 50px;
  }
  .team p {
    font-size: 18px;
  }
  .row {
    flex-direction: column;
  }
  .card {
    width: 300px;
    height: 400px;
  }
  .cards div img {
    width: 300px;
    height: 400px;
  }
  .cards div h1 {
    width: 300px;
    font-size: 22px;
  }
  .cards div span {
    width: 300px;
    font-size: 16px;
  }

.item {
  width: 300px;
  height: 400px;
}
.row{
  margin-top: 0px;
}
}
